/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* estilos del body */
body {
    background-color: whitesmoke;
    font-family: monospace,cursive;
}
/* GRID del Header */
.contenedor{
    display:grid;
}
header{
        display: grid;
        grid-template-columns: 50% 50% ;/* 2 columnas */
        grid-template-rows: auto;
        grid-template-areas:  
            "izquierda derecha";
        align-items: center; /* Alinear el codigo en la cada*/
        text-decoration: none;
     }

header .menuIzquierda{
        grid-area: izquierda;
    }

header .menuDerecha{
        grid-area: derecha;
    }

/* estilo  del header  */

.menuIzquierda{
    display:flex;
    align-items: center;
    gap: 1rem;
    height: 60px;
    list-style: none;
    justify-items: center;
    text-decoration: none;
    padding-left: 250px;
    padding-top: 2rem
}

.menuDerecha{
    display:flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    color: white;
    padding-top: 2rem
}

.acceder{
    /* formato del boton*/
    color: white;
    border:2px solid #5593f7; /*anchura, estilo y color borde*/
    padding: 5px; /*espacio alrededor texto*/
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-right: 25px;
    font-size: 16px;
    background-color: #0062ff; /*color botón*/
    color: whitesmoke; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform:initial; /*capitalización texto*/
    font-family: monospace,cursive; /*tipografía texto*/
    border-radius: 15px ; /*bordes redondos*/

}

.registrar{
    /* formato del boton*/
    color: white;
    border: 2px  #010101; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: whitesmoke; /*color botón*/
    color: whitesmoke; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: initial; /*capitalización texto*/
    font-family: monospace,cursive; /*tipografía texto*/

}

/* GRID del Menu */

main{
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 5% 10% 5% ;
    grid-template-areas:  
    "h1 img"
    "form img"
    "footer img";
 }

main .inicia{
    grid-area:h1;
}

main .signupFrmAcceder{
    grid-area:form;
}

main .imagenAcceder{
    grid-area:img;
}

footer .footerDerecho {
    grid-area: footer;
}

/* estilo de imagen */

.imagenAcceder{
    width: 600px;
  height: 700px;
  align-items: flex-end;
}

/* estilo de titulo */

.inicia{
    text-align:center;
    padding-top: 50px;
}

/* estilo de form */

.signupFrmAcceder{
    align-items:flex-start;
    padding: 100px
}

.footerDerecho{
    text-align: center;
    padding-top: 20px;
}

/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    header{
        text-decoration: none;
    }
    body{
        margin:10px;
        padding: 30px;
        text-decoration: none;
    }
    .menuIzquierda{
        display: none;
    }
    .inicia{
        display: block;
    }
    
    .imagenAcceder{
        display:none;
    }

    .contenedoMain{
        padding-top: 10px;
    }

    .signupFrmAcceder{
        padding:0;
        display: block;;
        justify-content: center;
    }

    .acceder{
        color:white;
        text-decoration: none;
    }
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    
    header{
        text-decoration: none;
    }

    body{
        margin:10px;
        padding: 30px;
        text-decoration: none;
    }

    .menuIzquierda{
        display: none;
    }

    .inicia{
        display: block
    }
     
    .imagenAcceder{
        display:none;
    }

    .contenedoMain{
        padding-top: 10px;
    }

    .signupFrmAcceder{
        padding:0;
        display: block;;
        justify-content: center;
    }

    .acceder{
        color:white;
        text-decoration: none;
    }
}
/*fin movil*/
