* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
    @extend %reset;
}

@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/mapas";
@import "utilidades/extend";

body {
    background-color: whitesmoke;
    font-family: monospace,cursive;
    padding: 2rem;
}
 /* CSS Menu */

 div .contenedor{
    display: grid;
    grid-template-columns:20% 30% 30% 20%; 
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:  
        " . header header . "
        " . main main . "
        " . footer footer . ";
    header .headerIndex{
        grid-area: header
    }
    main .mainIndex{
        grid-area: main
    }   
    footer .footerDerecho{
        grid-area: footer
    }    
 }

header{
    display: grid;
    grid-template-columns: 50% 50% ;/* 2 columnas */
    grid-template-areas:  
        "izquierda derecha";
    align-items: center; /* Alinear el codigo en la cada*/
    .menuIzquierda{
        grid-area: izquierda;
        display:flex;
        align-items: center;
        gap: 1rem;
        height: 60px;
        justify-items: center;
        text-decoration: black;
        padding-left: 250px;
    }
    .menuDerecha{
        grid-area: derecha;
        display:flex;
        list-style: none;
        gap: 1rem;
        justify-content: center;
        justify-items: center;
        color: white;
    }
    .acceder{
        /* formato del boton*/
        color: whitesmoke;
        border:2px solid #5593f7; /*anchura, estilo y color borde*/
        padding: 5px; /*espacio alrededor texto*/
        padding-left: 25px;
        padding-top: 8px;
        padding-bottom: 2px;
        padding-right: 25px;
        font-size: 16px;
        background-color: #0062ff; /*color botón*/
        color: whitesmoke; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform:initial; /*capitalización texto*/
        font-family: monospace,cursive; /*tipografía texto*/
        border-radius: 15px ; /*bordes redondos*/
    }
    .registrar{
        /* formato del boton*/
        color: blue;
        border: 2px  #010101; /*anchura, estilo y color borde*/
        padding: 10px; /*espacio alrededor texto*/
        background-color: whitesmoke; /*color botón*/
        color: whitesmoke; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: initial; /*capitalización texto*/
        font-family: monospace,cursive; /*tipografía texto*/
    }

}

    .mainIndex{
    display: grid;
    grid-template-columns: 15% 40% 30%;
    grid-template-rows: 30% 30% 10% 15% 10%;
    grid-template-areas:  
    "h1 img"
    "logo img"
    "slogan img"
    "texto img"
    "comenza img";
    .tituloPrincipal{
        grid-area:h1;
        font-size:x-large;
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start:1;
        grid-row-end: 2;
        justify-content: left;
        padding-top: 50px;
    }
    .imagenMonedas{
        grid-area:logo;
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:2;
        grid-row-end:3;
        img{
        width: 25rem;
        height: auto;
        align-items: left;
        }
    }
    .sloganMarca{
        grid-area:slogan;
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:3;
        grid-row-end:4;
    }
    .textoHome{
        grid-area:texto;
        grid-column-start:2;
        grid-column-end:3;
        grid-row-start:4;
        grid-row-end:5;
    }
    .imagenWallet{
        grid-area:img;
        grid-column-start:3;
        grid-column-end: 4;
        grid-row-start:1;
        grid-row-end:6;
        align-content: center;       
    }
    .comenza{
        grid-area:comenza;
        grid-column-start:2;
        grid-column-end: 3;
        grid-row-start:5;
        grid-row-end:6;
        h4 { 
        position:relative;
        width: fit-content;
        color: whitesmoke;
        border: 2px solid #5593f7; /*anchura, estilo y color borde*/
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 25px;
        padding-left: 25px;
        font-size: 16px;
        background: #0062ff; /*color botón*/
        color: whitesmoke; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform:initial; /*capitalización texto*/
        font-family: monospace,cursive; /*tipografía texto*/
        border-radius: 15px ; /*bordes redondos*/
        }
    }
    }
 
    .footerDerecho{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-areas:  
        " . izquierda derecha . ";
    align-items: center; /* Alinear el codigo en la cada*/
    .row{
        grid-area: izquierda;
        grid-column-start: 2;
        grid-column-end: 3;
        justify-items: start;
    }
    .row_2{
        grid-area: derecha;
        grid-column-start: 3;
        grid-column-end: 4;
    }
 }

 //tablet

    /* Tamaño tablet (768-480) */
    @media all and (min-width: 480px) and (max-width: 992px) {

        
        header .menuIzquierda {
                display: none;
                .menuDerecha{
                    justify-content: center;
                }
        }

        main .imagenWallet img{
            display: none;
            .tituloPrincipal h1{
            grid-column-start: 3;
            grid-column-end: 3;
        }
    }

    }
    
    /* Tamaño teléfonos (480-menos ) */
    @media all and (max-width: 480px) { 

    }
    

// CSS COTIZACIONES 

main .contenedorCotizaciones{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%  ;
    grid-template-areas:  
    "img Precio"
    "img Precio";
    .imgBitcoin{
        grid-area:img;
    }
    .Precio{
        grid-area:Precio;
    }
} 